<ion-header class="ion-no-border" >
  <ion-toolbar>    
  
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title> 
      <ion-title  size="small">My planning</ion-title>
    </ion-title>
   
  </ion-toolbar>
</ion-header><br><br>

<ion-content [fullscreen]="true">
<div class="content">
  <div class="week">
    <ion-label> <h1> $800/ <b>$5700</b></h1> </ion-label>
    <ion-label style="font-size:8px ;"> <b style="color:red">- 10.5%</b> that last week-end</ion-label>
  </div>

  <div class="house" >
    <ion-label  style="float: left; margin-left: 10px;font-size: 15px; margin-top: 10px" slot="start"> <b> Buy a House </b> <br> </ion-label>
    <ion-label  style="float: right; margin-right: 10px ; color: gray;"><b>...</b></ion-label><br><br>
    <ion-label style="float: left; font-size: 10px; margin-left: 10px; color: gray;">10 May 2022</ion-label>
    <ion-label  style="float: left; margin-left: 10px; margin-top: 10px ; color: gray;" slot="start"> </ion-label><br> <br>
    <ion-progress-bar value="0.25" ></ion-progress-bar><br>
    <ion-label  style="float: left; margin-left: 10px; font-size: 12px; margin-top: 10px; color: #306060;" slot="start"> <ion-icon name="calendar"></ion-icon> Target for 30 December 2022</ion-label>
  </div><br><br>

  <div class="Transaction">
    <div class="left">
      <b>History</b>
    </div>
    <div class="right">
       
    </div>
  </div><br>
   <ion-list>
        <ion-item lines="none" color="light">
          
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Saving </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p style="color:gray ; font-size: 10px;">Apr 18. 2022</p>
          </ion-label>
          <div style="color: #42bf9d; font-size: 10px;">+$12</div>
        </ion-item>

        <ion-item lines="none" color="light">
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Withdrawal </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p style="color:gray ; font-size: 10px;">Apr 15. 2022</p>
          </ion-label>
          <div style="color: #f86868; font-size: 10px;">-$23</div>
        </ion-item>

        <ion-item lines="none" color="light" >
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Saving </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p style="color:gray ; font-size: 10px;">Apr 11. 2022</p>
          </ion-label>
          <div style="color: #42bf9d; font-size: 10px;">-$42</div>
        </ion-item>
  </ion-list><br>
  <div class="button">
    <ion-button>+ Saving</ion-button>

  </div>
</div>
 

</ion-content>
