<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
















  <div class="Transaction">
    <div class="left">
      <b>Transaction</b>
    </div>
    <div class="right">
       See All
    </div>
  </div><br><br>

   <ion-list>
        <ion-item lines="none" color="light">
          
          <ion-avatar slot="start">
            <img src="../../assets/images/ps.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Adobe Photoshop </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>May 10.2022 at 08.45</p>
          </ion-label>
          <div style="color: red;">-$52</div>
        </ion-item>

        <ion-item lines="none" color="light">
          <ion-avatar slot="start">
            <img src="../../assets/images/men.jpeg" />
          </ion-avatar>
          <ion-label>
            <h4><b> Antonsen </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>May 10.2022 at 08.45</p>
          </ion-label>
          <div style="color: rgb(37, 153, 53);">-$1105</div>
        </ion-item>

        <ion-item lines="none" color="light" >
          <ion-avatar slot="start">
            <img src="../../assets/images/diamond.jpeg" />
          </ion-avatar>
          <ion-label>
            <h4><b> Skecth </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>May 01.2022 at 09.45</p>
          </ion-label>
          <div style="color: red;">-$15</div>
        </ion-item>
  </ion-list>

</ion-content>
