

<ion-content [fullscreen]="true">
    <div class="content">
         <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->
















  <div class="Transaction">
    <div class="left">
      <b>History</b>
    </div>
    <div class="right">
       Weekly
    </div>
  </div><br>

   <ion-list>
        <ion-item lines="none" color="light">
          
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Saving </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>Apr 18. 2022</p>
          </ion-label>
          <div style="color: green;">+$12</div>
        </ion-item>

        <ion-item lines="none" color="light">
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Withdrawal </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>Apr 15. 2022</p>
          </ion-label>
          <div style="color: red;">-$23</div>
        </ion-item>

        <ion-item lines="none" color="light" >
          <ion-avatar slot="start">
            <img src="../../assets/images/dollars.png" />
          </ion-avatar>
          <ion-label>
            <h4><b> Saving </b></h4>
            <!-- <h3>I'm a big deal</h3> -->
            <p>Apr 11. 2022</p>
          </ion-label>
          <div style="color: green;">-$42</div>
        </ion-item>
  </ion-list><br>
  <div class="button">
    <ion-button color="success">+ Saving</ion-button>

  </div>
    </div>
 

</ion-content>
