.content{
    width: 95%;
    margin: auto;
    text-align: center;
}
.Transaction{
    width: 90%;
    margin: auto;
    .left{
        width: 70%;
        float: left;
        text-align: left;
    }
    .right{
        width: 20%;
        float: right;
        color: gray;
    }

}
ion-item{
    width: 95%;
    border-radius: 11px;
    margin-top: 10px;
}
.button{
    width: 90%;
    margin: auto ;
}
ion-button{
    margin: auto;
}
.house{
    
    width:95% ;  
    margin: auto ;
    height:100px;
    background-color: #f4f5f8;
    border-radius: 21px;

}