.content{
    width: 95%;
    margin: auto;
    text-align: center;
}
.centralpanel{
    width:100%;
    margin: 0 auto; 

    .left{
        width: 75%;
        float: left;
        .left1{
            width: 10%;
            float: left;
        }
        .left2{
            width: 90%;
            float: right;
            
        }
    }
    .right{
        float: right;
        width: 25%;
        text-align: right;
       
    }
}
.card{
    background-color: #1d4348;
    width: 100%;
    height: 200px;
    border-radius: 21px;
    margin-top: -182px;
    transform: rotate(0deg); 

}
.upcard{
    width: 100%;
    height: 200px;
    transform: rotate(5deg); 
    border-radius: 21px;
    margin-left: 4px;
    background-color: #e7ca9c;
    margin-top: 10%;

}
.balance{

    background-color: #F9F9F9;
    margin: auto;
    height: 64px;
    width: 100%;
    border-radius: 10px;
    .mdle{
        margin: auto;
        width: 90%;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
.Transaction{
    width: 90%;
    margin: auto;
    .left{
        width: 70%;
        float: left;
        text-align: left;
    }
    .right{
        width: 20%;
        float: right;
        color: gray;
        font-size: 10px;
    }

}
ion-item{
    width: 100%;
    border-radius: 11px;
    margin-top: 10px;
}

ion-avatar{
    // max-width: 25px;
    // max-height: 25px;
}
.profile{
    width: 100%;
}
ion-label,b,p,h2{
    color: #306060;
}
p{
    color: #306060;
}
ion-icon{
    --background: #306060;

}

